body {
    background-color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}
/* Start here by styling the main div section */
.main {
    background-color: beige;
    font-size: 100px;
    margin: 200px;
    padding: 50px;
    width: 20%;
    border: dotted: orange
    margin-left: 37.5%;
}

.square {
    text-align: center;
}